.landing {
    margin: auto;
    display: flex;
    width: 80%;
    height: 80vh;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.name {
    font-size: 5em;
    font-family: 'Asap', sans-serif;
    font-style: italic;
    width: 100%;
}
.title {
    display: flex;
    font-family: 'Asap', sans-serif;
    font-style: bold;
    width: 100%;
}
.title p {
    padding: 5%;
}
.picture {
    border-radius: 5%;
    width: 60%;
    height: 40%;
    box-shadow: -5px 5px 5px black;
    animation: pictureAnimation 1s ease-out;
}
@keyframes pictureAnimation{
    0%{
        opacity: 1;
        transform: translatex(-800px);
        }
    100%{
        opacity: 1;
        }
}
