.nav {
    height: 10em;
    width: 100vw;
}
.nav__links {
    display: flex;
    justify-content: start;
    align-items: center;
    left: 0%;
    font-size: 1em;
    width: 100%;
}
.nav__links a {
    padding-left: 5%;
}
.nav__line {
    margin-left: -10%;
    height: .5em;
    width: 50vw;
    background-color: black;
    border-radius: 10px;

}